<h1>Bonjour !</h1>

<p>
    Veuillez confirmer votre adresse mail en cliquant le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Je confirme mon adresse mail</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Cheers!
</p>
