{% for type, messages in app.flashes (['success','error','infos']) %}
    {% for message in messages %}
        <div class="alert alert-{{ type }} text-center" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}