 <footer>
            <div id='infos'>
                <h4>Bon à savoir  :</h4>
                <a  class='slig' href='http://wikipedia.org' target=''>Mentions légales</a>
                <a  class='slig' href='http://wikipedia.org' target=''>Politiques de confidentialité</a>
            </div>
            <div id='plan'>
                <h4 >Plan du site  :</h4>
                    <ul>
                        <li><a class='slig' href={{path('app_pages_actus')}} target='' >Actualités</a></li>
                        <li><a class='slig' href={{path('app_pages_albums')}} target='' >Albums</a></li>
                        <li><a class='slig' href={{path('app_pages_concerts')}} target='' >Concerts</a></li>
                        <li><a class='slig' href={{path('app_pages_shop')}} target='' >Accessoires</a></li>
                    </ul>
            </div>
            <div id='reseaux'>
                <h4>Réseaux sociaux  :</h4>
                <div id='logo_res'>

                    <a id ='fb' href='https://www.facebook.com/Elvys-131033153620380' target='_blank'><img src='Img/icon_fb.jpg' alt='iconfb'/></a>
                    <div id='vid1'></div>
                    <a id ='tw' href='https://twitter.com/Elvys_Futur' target='_blank'><img src='Img/icon_tw.jpg' alt='icontw'/></a>
                    <div id='vid1'></div>
                    <a id ='in' href='https://www.instagram.com/elvysfutur' target='_blank'><img src='Img/icon_in.jpg' alt='iconin'/></a>
                    <div id='vid1'></div>
                    <a id ='yt' href='https://www.youtube.com/user/elvys972' target='_blank'><img src='Img/icon_yt.jpg' alt='iconyt'/></a>
                </div>
                <p id='cop'>©2020 Elvys Futur Site officiel, tous droits réservés </br> Réalisé par Elfebleu9</p>
                
            </div>
        </footer>           