<header>
    <div id='vid'></div>
    <img id="logo" src="Img/logo_EF2.png" alt="logo">
    <nav id="menu">
        <div id="mn">
            <a id='b1' href='http://facebook.com' target="_blank">
                <div id="m1">Actualité</div>
                <div id='a1'></div>
            </a>
            <a id='b2' href='http://facebook.com' target="">
                <div id="m2" >Albums</div>
                <div id='a2'></div>
            </a>
            <a id='b3' href='http://facebook.com' target="_blank">
                <div id="m3">Concerts</div>
                <div id='a3'></div>
            </a>
            <a id='b4' href='http://facebook.com' target="_blank">
                <div id="m4">Accessoires</div>
                <div id='a4'></div>
            </a>
        </div>
    </nav>
    <div id="but">
        <a id="button1" id="con"  href='http://wikipedia.org' target="">Je me connecte</a>
        <a id="button2" id="ins" href='http://facebook.com' target="">Je m'inscris</a>
    </div>
    
</header>