 <div class="container-fluid">        
            <div id='back'>               
                <div id="blm">  
                    <div id="tbl">
                        <h3 id="tbl1" id="tbl2">Extraits à l'écoute :</h3>
                        <div id="vid2"></div>  
                    </div>   
                    <div id="morc">                             
                        <audio id="bl1"  src='Sons/Welcome.mp3' controls></audio>
                        <audio id="bl2"  src='Sons/Ich_mwen.mp3' controls></audio>
                        <audio id="bl3"  src='Sons/Ansanm.mp3' controls></audio>
                        <div id="bl4"><video  src='Img/test_video.mp4' width="100%" height='200'  controls></video></div>
                    </div>
                </div>
            </div>
            <div id='back2'>

            </div>
        </div>