{% extends 'Layouts/base2.html.twig' %}

{% block title %}Les concerts{% endblock %}

{% block body %}
    <div id="vid5"></div>
    <h1>Concerts</h1>
    <div id="vid5" class="d-inline-block"></div>
    <audio src="build/sons/welcome.mp3" type="audio/mp3" controls></audio>

{% endblock %}