{% extends 'layouts/base.html.twig' %}

{% block title %}Elvys Futur - Site officiel{% endblock %}

{% block body %}
     
     <div id="back"> 
          <div id="vid5"></div>
          <h1 class="mt-5 text-white">Bienvenue</h1>
          <div id="vid3"></div> 
          <div id="tbl" class="mb-4">
               <h3 class="ml-2" id="tbl1">Extraits à l'écoute :</h3>
               <div id="vid2"></div>  
          </div>
               <div class="rowp">                  
                    {% for extrait in extraits %} 
                         {<div class="col-sm-5 col-md-3 d-flex justify-content-between">               
                              <article  class=" mt-3 extr w-75 h-50 rounded">
                                   <div class="thumb">                                          
                                        <div class="containerL w-100 rounded">
                                             <a href="{{path('app_pagesAd_show',{id:extrait.id})}}"><img src="{{ (extrait.photo ? vich_uploader_asset(extrait) : asset('build/image/placeholder.jpg'
                                             ))| imagine_filter('long_thumbnail_small') }}" class=" img-thumbnail w-100" alt="photo"></a>     
                                             <audio src="{{extrait.morceau}}" class="audio"></audio>
                                             <div class="controls w-100 rounded">
                                                  <div class="orange-bar">
                                                       <div class="orange-juice"></div>
                                                  </div>

                                                  <div class="buttons d-flex justify-content-around align-items-center">
                                                       <button id="play-pause"></button>
                                                       <button id="mute">Mute</button>
                                                       <input id="volumeSlider" type="range" min="0" max="100" value="50" step="1">
                                                  </div> 
                                             </div>                                            
                                        </div>      
                                   </div>
                                   <h5 class="mt-3 text-center text-white">{{ extrait.titre}}<h5>
                              </article>
                         </div>                                           
                    {% endfor %}                   
               </div>
          
          
     </div>
     <div id='back2'>
{% endblock %}
