{% extends 'layouts/base.html.twig' %}

{% block title %}Elvys Futur - Site officiel{% endblock %}

{% block body %}
     <div class="container-fluid mt-7">  
          <div id="tbl">
               <h3 id="tbl1">Extraits à l'écoute :</h3>
               <div id="vid2"></div>  
          </div>
          <div class="row mt-5">
               {% for extrait in extraits %}               
                    <article  class="col-md-3 mt-3 ">
                         <div class="column">
                              <div>
                                   <a href="{{path('app_pagesAd_show',{id:extrait.id})}}"><img src="{{ (extrait.photo ? vich_uploader_asset(extrait) : asset('build/images/placeholder.jpg'
                                        ))| imagine_filter('long_thumbnail_small') }}" class=" img-thumbnail" alt="photo"></a>
                                   <h5 class="mt-3 text-center">{{ extrait.titre}}<h5>
                              </div>
                              <div>
                                   <audio   src='{{extrait.morceau}}' controls></audio>
                              </div>
                         </div>
                                            
                    </article>
                    
               {% endfor %}
          </div>
     </div>
{% endblock %}
