{% extends 'layouts/base.html.twig' %}

{% block title %}Elvys Futur - Site officiel{% endblock %}

{% block body %}
     <div class="container-fluid mt-10">  
          {# {{ include('layouts/partials/_accueil.html.twig')}}   #}
          {% for extrait in extraits %}
               <article class="mt-3">
                    <h5>{{ extrait.titre}}<h5>
               </article>

          {% endfor %}
     </div>
{% endblock %}
