{% extends 'layouts/base.html.twig' %}

{% block title %}Elvys Futur - Site officiel{% endblock %}

{% block body %}
     
     <div id="back"> 
          <div id="vid5"></div>
          <h1 class="mt-5 text-white">Bienvenue</h1>
          <div id="vid3"></div> 
          <div id="tbl">
               <h3 class="ml-2" id="tbl1">Extraits à l'écoute :</h3>
               <div id="vid2"></div>  
          </div>
          <div class="blm ml-5">
               <div id="" class="row mt-5">
                    {% for extrait in extraits %}               
                         <article  class="col-sm-5 col-md-3 mt-3 extr">
                              <div class="column">
                                   <div>
                                        <div class="mw-100  rounded">
                                             <a href="{{path('app_pagesAd_show',{id:extrait.id})}}"><img src="{{ (extrait.photo ? vich_uploader_asset(extrait) : asset('build/image/placeholder.jpg'
                                                  ))| imagine_filter('long_thumbnail_small') }}" class=" img-thumbnail" alt="photo"></a>
                                             
                                        </div>
                                        <h5 class="mt-3 ml-4 text-white">{{ extrait.titre}}<h5>
                                   </div>
                                   {# <div>
                                        <audio   src='{{extrait.morceau}}' controls></audio>
                                   </div> #}
                              </div>
                                             
                         </article>
                         
                    {% endfor %}
               </div>
          </div>
          
     </div>
     <div id='back2'>
{% endblock %}
