{% extends 'Layouts/base2.html.twig' %}

{% block title %}La boutique{% endblock %}

{% block body %}
    <div id="vid5"></div>
    <h1>Boutique</h1>
    <div id="vid5" class="d-inline-block"></div>

{% endblock %}