{% extends 'Layouts/base3.html.twig' %}

{% block title 'Nouveau son' %}
{% block body  %}
    
        <h1>Insertion d'un son</h1>

       {{include('pagesAd/_form.html.twig', {submitButtonText})}}

{% endblock %}