{% extends 'Layouts/base3.html.twig' %}

{% block title 'Nouveau son' %}
{% block body  %}
    <div id="vid5"></div>
	<h1>Insertion d'un son</h1>

       {{include('pagesAd/_form.html.twig')}}

{% endblock %}