{% extends 'Layouts/base3.html.twig' %}

{% block title 'Edit '~ extrait.titre %}

{% block body %}
    <h1>Edit {{extrait.titre}}</h1>

     {{include('pagesAd/_form.html.twig',{submitButtonText : 'Modifier le son'})}}

{% endblock %}